*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

body{
  background-color: #ffce2b;
  font-family: 'Laila', serif;
}
.container{
  max-width: 1000px;
  margin:auto;
  padding:0px 20px;
}
#header{
  background-color: #00afba ;
  padding: 20px 0px;
  /* box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.1) */
}
#header ul{
  list-style-type: none;
}
#header a {
  display: block;
  padding: 15px;
  color: darkslategray;
  text-decoration: none;
}

#header nav a:hover,
#header nav a:focus{
  background-color: darkturquoise ;
}

#header .active a{
  background-color: 0px 0px 0px 15px rgba(0,0,0,0.1) 
}

#header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .categories {
  display: flex;
}

#header .logo{
  font-size: 2em;
  padding: 0px;
} 

#books-section,
#books-detail,
#page-not-found {
  margin:50px 0px;
}
.section-title{
  padding: 20px 0px;
}
.books-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
#books-section .book 
{
  background-color: #fff;
}
 #books-section .book-img img{
  width: 100%;
  height: 200px;
}
#books-section .book-info{
  padding:10px;
}
#books-section .book-title{
  padding-bottom: 10px  ;
}
#books-section .book-author{
  padding-bottom: 5px;
}

.btn{
  padding: 15px;
  opacity: 0.9;
  border: none;
  outline: none;
  cursor: pointer;
  margin:10px 0px;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.btn:focus{
  opacity:1;
}
.btn-highlight{
  background-color: #00afba;
  color: darkslategray;
}

#book-detail .book-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  padding: 30px 0px;
}

#book-detail .book-title{
  padding-bottom: 15px;
}

#book-detail .book-author{
  padding-bottom: 10px;
}

#book-detail .book-review-container{
  font-size: 1.2em;
  display: flex;
  justify-content: flex-end;
}

#book-detail .book-review-container .book-review{
  margin-left:5px;
}

#footer {
  background-color: #00afba;
  color: darkslategray;
  text-align:center;
  font-size: 1.1em;
  padding: 20px;
  margin-top: auto;
}

.has-fixed-footer{
  min-height: 100vh;
  display:flex;
  flex-direction: column;
}